/* CSS PRINCIPAL -> ESPECIFICO (Por IDs) */

/*##################################################*/

/*INICIO COLUMNA*/
/*TU --> Tarjeta Usuario*/
#TU {
    background-color: #007fff;
}

#TUAvatar {
    padding-top: 1.0em;
    float: left;
    width: 30%;
}

#TUAvatar > img {
    width: 100%;
}

#TUSalir {
    float: left;
    width: 35%;
}

#TUSalir > button {
    width: 100%;
    height: 6.3em;
}

#TUAyuda {
    float: left;
    width: 35%;
}

#TUAyuda > button {
    width: 100%;
    height: 2.9em;
}

#TURefrescar {
    float: left;
    width: 35%;
}

#TURefrescar > button {
    width: 100%;
    height: 2.9em;
}

#TUInformacion {
    width: 100%;
    float: left;
}

#TUInformacion table {
    width: 100%;
}

#TUInformacion tr:hover {
    background-color: lightcoral;
}

#TUInformacion table th {
    color: white;
}

#TUInformacion table td {
    color: lightgreen;
}
/*FIN COLUMNA*/

/*##################################################*/

/*INICIO BUSCAR*/
#B {
    width: 100%;
}

#B > input  {
    width: 100%;
    /*background-color: #007fff;*/
}
/*FIN BUSCAR*/

/*##################################################*/

/*INICIO ARBOL*/
div#arbol {
    /*float: left;*/
    width: 100%;
    /*margin-top: 15px;*/
}
/*FIN ARBOL*/

/*##################################################*/




div#contenido {
    /*background-color: #f6f6f6;*/
    float: left;
    width: 100%;
    /*margin-top: 15px;*/
    /*padding-left: 15px;*/
}

div#titulo {
    float: left;
    width: 100%;
    background-color: #f6f6f6;
    padding-left: 8px;
    font-weight: bold;
    font-size: 20pt;
}

button#nuevaEntrada {
    margin: 1% 0%;
}

#informacionentrada {
    height: 100%;
    width: 100%;
}

#iframeTerminal {
    resize: vertical;
    height: 20em;
    width: 100%;
    display: none;
}

#refreshTerminal {
    display: none;
}

div#terminal {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    text-align: center;
}